<div class="question">
    <h2>{{@title}}</h2>
    {{#each @options as |option|}}
        <div class="option">
            <Checkbox 
                @name="secondQuestion" 
                @value={{option.label}}
                @isChecked={{get-obj-prop @userAnswers option.question}} 
                @toggleCheckbox={{fn @updateQuestion option.label option.type option.question}}>
                    {{option.label}}
                     {{#if @result}}
                        {{#let (get-obj-prop @result option.question 'userAnswers') as |userAnswer|}}
                            {{#if (includes userAnswer option.label)}}
                                <span class="correctness">{{get-obj-prop @result option.question 'isCorrect' option.label}}</span>
                            {{/if}}
                        {{/let}}
                    {{/if}}
            </Checkbox>
        </div>
    {{/each}}  
</div>