{{page-title "ChoiceQuiz"}}

<Wrapper>
  <section>
    <SingleOptionQuestion
        @title="Выберите правильный фрукт (Банан)"
        @options={{this.firstQuestionOptions}}
        @userAnswers={{this.userAnswers}}
        @updateQuestion={{this.updateQuestion}}
        @result={{this.result}} />

    <MultipleOptionQuestion
        @title="Выберите правильные животные (Кот, Собака)"
        @options={{this.secondQuestionOptions}}
        @userAnswers={{this.userAnswers}}
        @updateQuestion={{this.updateQuestion}}
        @result={{this.result}} />

    <Button @onClick={{this.submitResult}} @isLoading={{this.checkAnswerTask.isRunning}}>Отправить</Button>
  </section>
</Wrapper>